/* Micro clearfix */
.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

/* Custom text-selection colors ----------------->#??????*/
::-moz-selection{	color:#fff;       background:#fbb427;text-shadow:none;}
::selection {		color:#fff;       background:#fbb427;text-shadow:none;}
ins {				color:#000; background-color:#fbb427;}
mark {				color:#000; background-color:#fbb427;font-style:italic;font-weight:bold;}
a:link {			 -webkit-tap-highlight-color:#fbb427;}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

/* Form Styling */
fieldset {
	border: 0;
	padding: 0;
}
fieldset legend {
	padding: 0;
	margin-bottom: 16px;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 24px;
}
fieldset ul {
	padding-left: 0;
}
fieldset li {
	margin-left: 0;
	clear: both;
	list-style: none;
}
fieldset li label {
	font-weight: bold;
	float: left;
	display: block;
	width: 150px;
}
fieldset li input {
	margin: 0 0 12px 0;
}
fieldset li select {
	width: 150px;
}
fieldset li ul {
	position: relative;
	padding-left: 0;
	top: -15px;
	clear: both;
}
fieldset li ul label {
	float: left;
}
fieldset li ul input {
	margin: 0 12px 12px 150px;
	float: left;
	clear: right;
}
fieldset.submit {
	margin-top: -30px;
	margin-left: 150px;
	border: 0;
}

/* Navigation Styling */
nav ul {
	padding: 0;
	list-style: none;
}
nav ul ul {
	border: 1px solid #000;
	display: none;
	position: absolute;
}
nav ul ul ul {
	left: 100%;
	top: -1px;
}
nav ul li {
	display: inline-block;
}
nav ul ul li {
	min-width: 150px;
}
nav > ul li + li {
	padding-left: 12px;
}
nav > ul li:hover > ul {
	display: block;
}