/**
 * This page contains the default navigation menu styling
 */
nav ul {
	padding: 0;
	list-style: none;
	border-left: 1px solid #000;

	li {
		display: inline-block;

		a {
			display: block;
			color: #000;
			background: #fff;
			text-align: center;
			width: 150px;
			padding: 8px 24px;
			border: 1px solid #000;
			border-left: none;
			text-decoration: none;
		}
	}

	> ul li:hover > ul {
		display: block;
	}

	ul {
		display: none;
		position: absolute;
		margin: 0 0 0 -1px;

		li {
			float: left;
			clear: both;

			a {
				min-width: 304px;
				margin-top: -1px;
				text-align: left;
			}
		}

		ul {
			left: 100%;
			top: -1px;
		}
	}
}
