[submodule "app/modules/form-builder-module"]
	path = app/modules/form-builder-module
	url = https://github.com/sleepymustache/form-builder-module.git
[submodule "app/modules/performance-module"]
	path = app/modules/performance-module
	url = https://github.com/sleepymustache/performance-module.git
[submodule "app/core"]
	path = app/core
	url = https://github.com/sleepymustache/core.git
