/**
 * This file contains all the color variables for the site
 */
$black: #000;
$white: #fff;
$red: #f00;
$blue: #00f;

// Changes the text highlighting color
$selection-foreground: $blue;
$selection-background: $white;
