<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="StaticCache" enabled="true" stopProcessing="true">
                    <match url=".*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{REQUEST_METHOD}" pattern="^GET$" ignoreCase="false" />
                        <!-- Prevents the homepage from being cached -->
                        <add input="{URL}" pattern="(^/$)" ignoreCase="false" negate="true" />
                        <add input="{DOCUMENT_ROOT}/cache/normal/{SERVER_NAME}{URL}_{QUERY_STRING}.html" matchType="IsFile" />
                        <!-- if cookie uid is set (user logged in), then don't show cached pages -->
                        <add input="{HTTP_COOKIE}" pattern="uid" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="cache/normal/{SERVER_NAME}{URL}_{QUERY_STRING}.html" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
